<template>
  <b-container>
    <b-row class="mb-4">
      <b-col cols="6">
        <h1>Project List</h1>
      </b-col>
      <b-col class="text-right">
        <b-button variant="success" @click="handleAdd">Add Project</b-button>
        <FormProject :data="selectedData" :type="modalType" @setProjects="setProjects" :vid="'form-project'" />
      </b-col>
    </b-row>

    <b-row class="mb-4">  
      <b-col cols="12">
        <h4>Pending :</h4>
      </b-col>
      <b-col cols="12" v-if="!getPending.length">
        No Project
      </b-col>
      <b-col md="4" class="mb-2" v-for="project in getPending" :key="project.id">
        <Project :project="project" @setProjects="setProjects" @selectProject="selectProject" />
      </b-col>
    </b-row>

    <b-row class="mb-4">
      <b-col cols="12">
        <h4>On Progress :</h4>
      </b-col>
      <b-col cols="12" v-if="!getProgress.length">
        No Project
      </b-col>
      <b-col md="4" class="mb-2" v-for="project in getProgress" :key="project.id">
        <Project :project="project" @setProjects="setProjects" @selectProject="selectProject"/>
      </b-col>
    </b-row>


    <b-row class="mb-4">
      <b-col cols="12">
        <h4>Done :</h4>
      </b-col>
      <b-col cols="12" v-if="!getDone.length">
        No Project
      </b-col>
      <b-col md="4" class="mb-2" v-for="project in getDone" :key="project.id">
        <Project :project="project" @setProjects="setProjects"  @selectProject="selectProject"/>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
// @ is an alias to /src
import Project from "@/components/Project.vue";
import FormProject from "@/components/FormProject.vue"
import {getLocal} from "@/helper/localFunction"
export default {
  name: "HomeView",
  components: {
    Project,
    FormProject,
  },
  data() {
    return {
      projects: [
        
      ],
      selectedData: null,
      modalType: 0
    };
  },
  methods: {
    setProjects() {
      this.projects = getLocal();
    },
    selectProject(payload){
      this.modalType = 1;
      this.selectedData = payload;
      // console.log(this.selectedData);
    },
    handleAdd(){
      this.modalType = 0;
      this.$bvModal.show('form-project')
    }
    
  },

  mounted() {
    this.setProjects();
  },

  computed: {
    getProgress() {
      return this.projects.filter(project => project.status === 1)
    },
    getPending() {
      return this.projects.filter(project => project.status === 0)
    },
    getDone() {
      return this,this.projects.filter(project => project.status === 2)
    }

  }
};
</script>
