<template>
  <div>
    <b-modal :id="vid" title="Add Project" @ok="handleOk">
      <form @submit.prevent="">
        <b-form-group label="Title">
          <b-form-input
            type="text"
            placeholder="Enter Title"
            v-model="title"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-select
          v-model="status"
          :options="statusOpt"
          size="sm"
          class="mb-3"
          required
        ></b-form-select>

        <b-form-textarea
          id="textarea"
          v-model="desc"
          placeholder="Enter desc..."
          rows="3"
          max-rows="6"
          required
        ></b-form-textarea>
      </form>
    </b-modal>
  </div>
</template>

<script>
import { addData, editData } from "@/helper/localFunction";
export default {
  props: ["vid", "type", "data"],
  data() {
    return {
      id: 0,
      title: "",
      desc: "",
      status: 0,
      statusOpt: [
        { value: 0, text: "Pending" },
        { value: 1, text: "On Progress" },
        { value: 2, text: "Done" },
      ],
    };
  },

  methods: {
    resetForm() {
      (this.title = ""), (this.desc = ""), (this.status = 0);
    },
    handleSubmit() {
      if (this.type === 0) {
        addData({
          id: Date.now(),
          title: this.title,
          desc: this.desc,
          status: this.status,
        });
      } else {
        editData({
          id: this.id,
          title: this.title,
          desc: this.desc,
          status: this.status,
        });
      }
      this.resetForm();
      this.$emit("setProjects");
    },
    handleOk() {
      this.handleSubmit();
    },
    updateData(payload) {
      this.id = payload.id;
      this.title = payload.title;
      this.desc = payload.desc;
      this.status = payload.status;
    },
  },

  watch: {
    data: function (newVal, oldVal) {
      this.updateData(newVal);
    },
    type: function (newval, oldval) {
      if (newval === 0) {
        this.resetForm();
      }
    },
  },
};
</script>

<style>
</style>