<template>
  <b-card :header="project.title" :text-variant="classStatus[1]" :bg-variant="classStatus[0]">
    <b-card-text>
        <div class="b-row">
            <b-col cols="12">
                {{project.desc}}
            </b-col>
            <hr>
            <b-col cols="12" class="text-center d-flex justify-content-center">
                <b-button variant="light" class="ml-2" @click="handleEdit(project)" v-b-modal="'form-project'">
                    <BIconPenFill />
                </b-button>
                <b-button variant="danger" class="ml-2"  @click="handleDelete(project.id)">
                    <BIconTrashFill />
                </b-button>
            </b-col>
        </div>
    </b-card-text>
  </b-card>
</template>

<script>
import {BIconTrashFill, BIcon, BIconPenFill} from "bootstrap-vue"
import {deleteLocal} from "@/helper/localFunction"
export default {
    props: ['project'],
    components: {
        BIcon,BIconTrashFill, BIconPenFill
    },

    methods: {
        handleDelete(id) {
            if(confirm("are you sure ?")){

                deleteLocal(id);
                this.$emit('setProjects');
            }
        },
        handleEdit(payload) {
            // console.log(payload);
            this.$emit('selectProject',payload);
        }
    },
    computed: {
        classStatus() {
            let stat = this.project.status;

            switch (stat){
                case 1 :
                    return ['warning', 'white']
                    break;
                case 2: 
                    return ['success', 'white']
                    break;
                default: 
                    return ['', '']
                    break;
            }
        }
    }
};
</script>

<style></style>
